[alias]
    aa = "add --all"
    amend = "commit --amend"
    c = "commit"
    co = "checkout"
    dc = "diff --cached"
    di = "diff"
    ds = "diff --stat"
    l = "log --pretty='format:%C(yellow)%h%C(red)%d %C(reset)%s %C(green)%an%C(reset), %C(cyan)%ar'"
    la = "!git l --all"
    r = "!git l -25"
    ra = "!git r --all"
    st = "status"
    uns = "restore --staged"

[branch]
    sort = -committerdate

[commit]
    gpgsign = true
    template = ~/.gitmessage

[core]
    editor = "nvim"

[fetch]
    prune = true

[gpg]
    format = "ssh"

[init]
    defaultBranch = "main"

[user]
    email = "jamie@jagd.me"
    name = "Jamie Davies"
    signingkey = ~/.ssh/id_ed25519

[include]
    path = ~/.gitconfig-delta
[include]
    path = ~/.gitconfig.local
