[user]
    name = Jamie Davies
    email = jamie@jamiedavies.me

[core]
    pager = cat
    editor = vim
    excludesfile = /Users/jamie/.gitignore

[alias]
    tags = tag -l
    branches = branch -a
    remotes = remote -v

    a = add

    c = commit
    cm = commit -m

    co = checkout

    d = difftool
    dk = difftool -y -t Kaleidoscope

    pu = push
    pl = pull

    s = status

    unstage = reset HEAD
    uns = reset HEAD

    untrack = rm --cached
    unt = rm --cached

    l = log -18 --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
    ll = log --color=always --all --topo-order --pretty='format:%Cgreen%h%Creset %s%Cred%d%Creset %C(black bold)(by %an)%Creset'
    gl = log -12 --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(black bold)(by %an)%Creset%C(yellow bold)%d%Creset%n'
    gll = log --color=always --all --graph --topo-order --pretty='format:%Cgreen%h%Creset %s %C(black bold)(%cr by %an)%Creset%C(yellow bold)%d%Creset%n'

[push]
    default = current

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[credential]
    helper = osxkeychain

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[merge]
    tool = Kaleidoscope

[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    keepBackup = false
    trustExitCode = true

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
